extends layout

block content 
    h1(style='text-align: center;')
      span(style='color: #333399;') TROVE.
    p(style='text-align: center;')
      span(style='color: #333399;') Create an Account:
    p(style='text-align: center;')
      label(for='user') Create Username:
      textarea#user(cols='20 name=', rows='1')   Username  
    p(style='text-align: center;')
      label(for='pass') Create Password:
      textarea#user(cols='20 name=', rows='1')   Password  
    p(style='text-align: center;')
      button(type='button') Create Account
    p(style='text-align: center;') Already have an account?
    p(style='text-align: center;') Try Logging-in
    // Insert Hyperlink to main log-in page

