form(method='POST' action='' enctype='multipart/form-data')
        div
            label Select your profile picture:
            input(type='file' name='profile_pic')
        div
            input(type='submit' name='btn_upload_profile_pic' value='Upload')
        
        img(src='/uploads/profile_pic-1605893513865.JPG', width='60', height='60')
